<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Creative Workshop映射文件 -->
<mapper namespace="com.codeying.mapper.SucaiMapper">


    <!--查询-->
    <select id="sqlSelectList" resultType="com.codeying.entity.Sucai">
        select * from tb_Sucai t
        <where>
            <if test="vo!=null and vo.name != null and vo.name != ''">
                t.name like CONCAT('%',#{ vo.name },'%');
            </if>
            <if test="vo!=null and vo.youx != null and vo.youx != ''">
                t.youx like CONCAT('%',#{ vo.youx },'%');
            </if>
        </where>
    </select>

    <delete id="sqlDelete">
        delete from tb_Sucai where id = #{id}
    </delete>
    
    <update id="sqlUpdate">
        update tb_Sucai
        set id=#{id}  ,name=#{name}  ,youx=#{youx}  ,jianj=#{jianj}  ,files=#{files}  ,createtime=#{createtime} 
        where id= #{id}
    </update>

    <insert id="sqlSave">
        insert into tb_Sucai values(
        #{id}, ,#{name}  ,#{youx}  ,#{jianj}  ,#{files}  ,#{createtime} 
        )
    </insert>

</mapper>

